.App {
  height: 100vh;
}

.home {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255,255,0);
  background: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(255,0,0,1) 100%);
}

.menu {
  position: absolute;
  margin: 5px;
  display: flex;
  background-color: #fff;
  z-index: 1;
}

.actions-btn-group,
.pickorder-btn-group {
  margin: 5px;
}

.btn-fat {
  border-width: 3px !important;
}

.modal-backdrop {
  background: rgba(0,0,0,0.25);
}

.field-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.field {
  width: 70vh;
  height: 70vh;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black;
  box-sizing: border-box; */
}

.row {
  margin: 0 !important;
  /* height: 16.66%; */
}

.rows-6:nth-child(odd) {
  height: 15%;
}

.rows-6:nth-child(even) {
  height: 18.33%;
}

.col {
  /* background-color: red;
  border: 1px solid black;
  box-sizing: border-box; */
  padding: 0 !important;
  height: 100%;
}

.img-container {
  text-align: center;
}

.img-container > img {
  width: auto;
  height: 90%;
  margin-top: 5%;
}

/* .box-container {} */

.box {
  margin: auto;
  width: 80%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #555;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
}

.box-disabled {
  background-color: #fff;
  cursor: default;
}

.box-pickable {
  background-color: #e7e7e7;
  cursor: pointer;
}

.box-picked {
  background-color: #aaa;
  cursor: pointer;
}

.red-apple {
  background-image: url('./assets/images/red_apple.png');
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.yellow-apple {
  background-image: url('./assets/images/yellow_apple.png');
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
