.App {
  height: 100vh;
}

.home {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255,255,0);
  background: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(255,0,0,1) 100%);
}

.menu {
  position: absolute;
  margin: 5px;
  display: flex;
  background-color: #fff;
  z-index: 1;
}

.actions-btn-group,
.pickorder-btn-group {
  margin: 5px;
}

.btn-fat {
  border-width: 3px !important;
}

.modal-backdrop {
  background: rgba(0,0,0,0.25);
}

.container-height {
  height: 100%;
  max-height: 855px;
}

.rows-6 {
  margin: 0;
  height: 15.67%;
}

.rows-6:nth-child(even).rows-6:not(:last-child) {
  margin-bottom: 2.3%;
}

.col {
  /* background-color: red;
  border: 1px solid black;
  box-sizing: border-box; */
  height: 100%;
}

.img-container {
  text-align: center;
}

img {
  margin-top: 5%;
  width: 85%;
  height: 90%;
  object-fit: contain;
}

.box-container {
  padding: 5px;
}

.box {
  margin: auto;
  width: 70%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid #555;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
}

.box-disabled {
  background-color: #fff;
  cursor: default;
}

.box-pickable {
  background-color: #fff;
  cursor: pointer;
}

.box-picked {
  background-color: #e7e7e7;
  cursor: pointer;
}

.apple-red {
  background-image: url('/images/apple_red.png');
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.apple-yellow {
  background-image: url('/images/apple_yellow.png');
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
